.hover-shadow.svelte-u4k2t{transition:transform .2s,box-shadow .2s}.hover-shadow.svelte-u4k2t:hover{transform:translateY(-4px);box-shadow:0 10px 20px #0000001f!important}.transition.svelte-u4k2t{transition:all .3s ease}
